<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
    <label for="code_snippet">Create</label>
    <br>
    <textarea id="code_snippet">// write your text here</textarea>
    <br>
    <label for="time_restriction">Time restriction</label>
    <input id="time_restriction" type="text"/>
    <br>
    <label for="views_restriction">View restriction</label>
    <input id="views_restriction" type="text"/>
    <br>
    <button id="send_snippet" type="submit" onclick="send()">Submit</button>
    <script src="send.js"></script>
</body>
</html>